[project]
name = "nuthatch"
version = "0.1.0"
description = "Cacheable big data pipelines"
authors = [
    { name = "Joshua Adkins", email = "josh@rhizaresearch.org" },
    { name = "Genevieve Flaspohler", email = "geneviee@rhizaresearch.org" }
]

# TODO: Make backend submodules so that their
# dependencies can be installed independently
dependencies = [
    "fsspec",
    "sqlalchemy",
    "pandas",
    "dask[dataframe]",
    "deltalake==1.1.2",
    "dask-deltatable",
    "xarray",
    "pyarrow",
    "terracotta",
    "gitpython",
    "psycopg2",
    "zarr",
    "click",
    "polars"
]
readme = "README.md"
requires-python = ">= 3.12"

[project.scripts]
nuthatch = "nuthatch.cli:main"

[build-system]
requires = ["hatchling==1.26.3"]
build-backend = "hatchling.build"

[tool.rye]
managed = true
dev-dependencies = [
    "pooch",
    "google-cloud-secret-manager",
    "gcsfs",
    "pytest",
    "sheerwater-benchmarking @ git+https://github.com/rhiza-research/sheerwater-benchmarking",
]

[tool.hatch.metadata]
allow-direct-references = true

[tool.hatch.build.targets.wheel]
packages = ["src/nuthatch"]
exclude = [
    "src/nuthatch/test_secrets.py" # Exclude a specific file
]

[tool.pytest.ini_options]
log_cli = true
log_cli_level = "DEBUG"
log_cli_format = "%(asctime)s.%(msecs)03d %(levelname)s %(filename)s:%(lineno)s %(message)s"

[tool.nuthatch]
filesystem = "gs://sheerwater-datalake/caches"
host = "postgres.sheerwater.rhizaresearch.org"
port = 5432
database = "postgres"
username = "write"
driver = "postgresql"
raster_store = "gs://terracotta-files"
metadata_location = "filesystem"
dynamic_config_path = "nuthatch.test_secrets"

[tool.nuthatch.filesystem_options]
token = "google_default"
cache_timeout = 0

[tool.nuthatch.local]
filesystem = "~/.cache/nuthatch"
